<% provide(:title, "Home")%>
    <h1>Sample App</h1>
    <p>
      this is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
